@use "../../../../styles/index.scss" as *;

.hero {
  margin-top: -1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 3rem;
  background-color: $primary;
  background: $primary-gradient;
  padding: 3rem 0 4rem 0;


  &_container {
    max-width: $max-w-6xl;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    // padding: 2rem;

    &_header {
      position: relative;
      font-size: clamp(2.25rem, -0.3323rem + 5.988vw, 3.25rem);
      z-index: 1;
      background-color: transparent;

      &::before {
        content: "";
        width: 100%;
        height: 20px;
        position: absolute;
        top: 3.15rem;
        left: 0;
        background-image: url("../../../assets/icons/Subtract.png");
        background-repeat: no-repeat;
        background-size: contain;
        z-index: -1;
      }
    }

    &_modules {
      max-width: $max-w-6xl;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(5, minmax(0, 1fr));
      gap: 2rem;

      @include custom-media-query("mobile", $max-w-xl) {
        grid-template-columns: repeat(1, minmax(0, 1fr));
      }

      aside {

        &:first-child {
          grid-column: span 3 / span 3;

          @include custom-media-query("mobile", $max-w-xl) {
            grid-column: span 1 / span 1;
          }
        }

        &:last-child {
          grid-column: span 2 / span 2;

          @include custom-media-query("mobile", $max-w-xl) {
            grid-column: span 1 / span 1;
          }
        }
      }
    }
  }
}