@use "../../../../styles/index.scss" as *;

.top_countries {
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 4rem;
    gap: 4rem;
  
    &_container {
      width: 100%;
      max-width: $max-w-6xl;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 2rem;

      h2 {
        font-size: 44px;
        font-weight: 700;
        color: #2A2A2A;
        text-align: center;
      }
  
      &_content {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: 1.5rem;
        overflow: hidden;

        @include custom-media-query("mobile", $max-w-md) {
          padding: 2rem;
          grid-template-columns: repeat(1, minmax(0, 1fr));
        }
  
        &_card {
          border: 1px solid #d6d6d6; 
          border-radius: 0.5rem;
          padding: 1rem 1rem;
          display: flex;
          align-items: center;
          gap: 1rem;
          opacity: 0; 
          transform: translateY(20px);
          animation: fadeInUp 0.6s ease forwards;
  
          p {
            color: #5F5F65;
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
          }
        }
      }
    }

    &_cta {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #2A2A2A;
      background-color: white;
      border-radius: 3rem;
      padding: 0.75rem 2rem;
      font-weight: 500;
      transition: all 1s ease;

      &:hover {
        background-color: #2A2A2A;
        color: white;
      }
    }
  
    @keyframes fadeInUp {
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
  
    @for $i from 1 through 12 {
      .top_countries_container_content_card:nth-of-type(#{$i}) {
        animation-delay: #{0.2 * $i}s;
      }
    }
  }