@use "../../../../styles/index.scss" as *;

.scroll {
  display: flex;
  align-items: center;
  justify-content: center;
}
.scroll-container {
  padding: 2rem 0;
  background: $primary-gradient;
  border-radius: 2rem;
  position: relative;
  width: 100%;
  max-width: $max-w-7xl;
  overflow: hidden;
  white-space: nowrap;
}

.scroll-content {
  display: flex;
  align-items: center;
  animation: scroll 30s linear infinite;
}

Image {
  width:50%;
}

.scroll-element {
  flex: 0 0 auto;
  width: 10rem;
  margin-right: 2rem;

  img {
    width: 5rem;
    height: auto;
  }
}

.scroll-button {
  // position: absolute;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 2rem;
  padding: 0.5rem;
  z-index: 1;
  
  background-color: red;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.sliderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0;
  color: #2A2A2A;

  h2 {
    font-size: 44px;
    font-weight: 600;
    color: #2a2a2a;
    text-align: center;
  }
}

.slider {
  display: flex;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  width: 80%;
  padding: 20px;
  margin-bottom: 20px;
}

// .card {
  // min-width: 10rem;
  // margin: 0 10px;
  // padding: 20px;
  // border-radius: 10px;
  // border: 1px solid #cccccc99;
  // box-shadow: 0 4px 6px rgba(164, 164, 164, 0.1);
  // scroll-snap-align: center;
  // font-size: 0.95rem;
  // display: grid;
  // gap: 2rem;

  .car{
    box-shadow: 0 4px 6px rgba(164, 164, 164, 0.1);
  scroll-snap-align: center;
  font-size: 0.95rem;
  display: grid;
  gap: 2rem;
    margin: 0 10px;
  padding: 10px;
  border-radius: 10px;
  // border: 1px solid #cccccc99;
  min-width: 7rem;

  &_details {
    display: flex;
    align-items: center;
    gap: 1rem;

    img {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
    }

    &_country {
      display: flex;
      align-items: center;
      font-size: 0.75rem;
      gap: 0.5rem;

      img {
        width: 1rem;
        height: auto;
      }
    }
  }
}

.indicators {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.indicator {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #ccc;
  cursor: pointer;
  transition: background 0.3s;
}

.indicator.active {
  background: #333;
}

img {
  width: 1rem;
  height: auto;
}
