@use "../../../../../styles/index.scss" as *;

.qr-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 1.5rem;
  background-color: white;
  overflow: hidden;

  &_details {
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;

    img {
      width: 7rem;
      height: auto;
    }

    p {
      line-height: 1.25rem;
    }
  }

  &_image {
    overflow: hidden;
    img {
      width: 100%;
    }
  }
}

