@use "../../../../styles/index.scss" as *;

.features {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 4rem;

  &_container {
    max-width: $max-w-6xl;

    &_content {
      display: grid;
      grid-template-columns: repeat(4, minmax(0, 1fr));
      gap: 1.5rem;
      overflow: hidden;

      @include custom-media-query("mobile", $max-w-md) {
        padding: 2rem;
        grid-template-columns: repeat(1, minmax(0, 1fr));
      }

      &_card {
        opacity: 0; 
        transform: translateY(20px); 
        animation: fadeInUp 0.6s ease forwards; 
        display: flex;
        flex-direction: column;
        gap: 1rem;

        p {
          color: #5F5F65;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;

          &:first-child {
            color: var(--Neutral-Darkest, #2A2A2A);
            font-size: 18px;
            font-weight: 600;
          }
        }
      }
    }
  }

  @keyframes fadeInUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @for $i from 1 through 12 {
    .features_container_content_card:nth-of-type(#{$i}) {
      animation-delay: #{0.2 * $i}s;
    }
  }
}